<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<!--<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>-->
<div>
    <form action="/" method="post">
        <input type="text" name="title" placeholder="Введите название книги"/>
        <input type="text" name="author" placeholder="Автор"/>
        <button type="submit">Добавить</button>
    </form>
</div>
<!--<form action="/filter" method="post">
    <input type="text" name = "filter"/>
    <button type="submit">Искать</button>
</form>-->
<div>=============Список книг==================</div>
<tr th:each="book: ${books}">
    <p>
    <td th:text="${book.id}" />
    <td th:text="${book.title}" />
    <td th:text="${book.author}" />
    </p>
</tr>
</body>

</html>